body {
    background-color: #8e4181;
}

    

.box {
    background-color: #fff;
    width: 375px;
    height: 472px;
    margin-left: 600px;
    margin-top: 150px;
}

.form {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-left: 37px;

}

.img {
    width: 80px;
    margin: 60px 0;
    text-align: center; 
    margin-left: 100px;
}

input {
    border: 0;
    background-color: #00E0FF;
    border-radius: 96px;
    padding: 7px;
    margin-bottom: 15px;
}
p {
    color: #363853;
    text-align: right;
}

.btn {
    color: #fff;
    background-color: #8D00CF;
    text-decoration: none;
    padding: 14px 27px;
    border-radius: 5px;
    text-align: center;
    width: 50px;
    margin-left: 100px;
}